<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Tristen Trias</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>home</mat-icon>
                Home</a>
            <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>perm_identity</mat-icon>
                About Me</a>
            <a mat-list-item routerLink="/projects" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>assignment</mat-icon>
                Projects</a>
            <a mat-list-item routerLink="/education" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>school</mat-icon>
                Education</a>
            <a mat-list-item routerLink="/history" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>history</mat-icon>
                Work History</a>
            <a mat-list-item routerLink="/hobbies" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>games</mat-icon>
                Hobbies</a>
            <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>contact_mail</mat-icon>
                Contact</a>
            <a mat-list-item routerLink="/updates" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon matListIcon>update</mat-icon>
                Updates</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 100vh;">
            <div class="d-flex justify-content-center">
                <div class="col-6 p-2">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>