<!-- 
    This is the contact page containing all of the relevant contact information for me.
 -->

<mat-card appearance="outlined" class="p-3 m-2">
    <div class="col">
        <div class="row">
            <h1><b>Contact</b></h1>
        </div>

        <div class="row">
            <div class="col" style="text-align: left;">
                <h3><i>Left subtitle</i></h3>
            </div>
            <div class="col" style="text-align: right;">
                <h3><i>Right subtitle</i></h3>
            </div>
        </div>
    </div>

    <mat-card-content>
        <div style="text-align: right;">
            <h3><i>Subtitle 2??</i></h3>
        </div>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>