<!-- 
    TODO: Move cards to ngFor loop and create a model for them to be stored in
 -->

<div class="d-flex justify-content-center">
    <mat-card appearance="outlined" class="p-3 m-2">
        <div class="col">
            <div class="row" style="text-align: center;">
                <h1><b>Contact</b></h1>
            </div>
        </div>
    </mat-card>
</div>

<div class="row">
    <div class="col">
        <a href="https://www.linkedin.com/in/tristen-trias/" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
            <mat-card appearance="outlined" class="clickable">
                <mat-card-title style="text-align: center;">
                    <h3>LinkedIn</h3>
                </mat-card-title>
            </mat-card>
        </a>
    </div>
    <div class="col">
        <a href="mailto:tntrias2@gmail.com" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
            <mat-card appearance="outlined" class="clickable">
                <mat-card-title style="text-align: center;">
                    <h3>Email</h3>
                </mat-card-title>
            </mat-card>
        </a>
    </div>
    <div class="col">
        <a href="https://github.com/Tristen-Trias" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
            <mat-card appearance="outlined" class="clickable">
                <mat-card-title style="text-align: center;">
                    <h3>Github</h3>
                </mat-card-title>
            </mat-card>
        </a>
    </div>
</div>