<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>Personal Website</b></h1>
        </div>
        <div class="col-6" style="text-align: right;">
            <a href="https://github.com/Tristen-Trias/Personal-Website" target="_blank"
                rel="noopener noreferrer">
                <h3><i>Github</i></h3>
            </a>
        </div>
    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>Matchmaking Discord Bot</b></h1>
        </div>
        <div class="col-6" style="text-align: right;">
            <a href="https://github.com/Tristen-Trias/Sierra-Nevada-Trails-Project" target="_blank"
                rel="noopener noreferrer">
                <h3><i>Github</i></h3>
            </a>
        </div>
    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>Amazon Purchase Bot</b></h1>
        </div>

    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>