.mat-mdc-card {
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 2px;
}

ul {
    margin-bottom: 0;
}