<!-- 
    This is the education page, displaying my education history and relevant coursework.
 -->
 <div class="d-flex justify-content-center">
    <mat-card appearance="outlined" class="p-3 m-2">
        <div class="col">
            <div class="row" style="text-align: center;">
                <h1><b>Education</b></h1>
            </div>
        </div>
    </mat-card>
</div>

<div *ngFor = "let card of cards">
    <app-card
        [header]="card.header"
        [headerSubtitle]="card.headerSubtitle"
        [subtitleLink]="card.subtitleLink"
        [lSubtitle]="card.lSubtitle"
        [rSubtitle]="card.rSubtitle"
        [listHeader]="card.listHeader"
        [list2Header]="card.list2Header"
        [body]="card.body"
        [body2]="card.body2">
    </app-card>
</div>