<!-- 
    This is the history page of the website to display my work experience.
-->
<div class="d-flex justify-content-center">
    <mat-card appearance="outlined" class="p-3 m-2">
        <div class="col">
            <div class="row" style="text-align: center;">
                <h1><b>Work History</b></h1>
            </div>
        </div>
    </mat-card>
</div>

<div *ngFor="let card of cards">
    <app-card
        [header]="card.header"
        [headerSubtitle]="card.headerSubtitle"
        [subtitleLink]="card.subtitleLink"
        [lSubtitle]="card.lSubtitle"
        [rSubtitle]="card.rSubtitle"
        [listHeader]="card.listHeader"
        [body]="card.body"
        >
    </app-card>
</div>