<!-- 
    This is the home page of the website. It contains a welcome message, a brief description of myself, and a few
    links to other pages. 

    The cards at the bottom of the page are clickable, and will redirect the user to the corresponding page.
 -->


<div class="d-flex justify-content-center">
    <mat-card appearance="outlined" class="p-3 m-2">
        <div class="col">
            <div class="row" style="text-align: center;">
                <h1><b>Welcome!</b></h1>
            </div>
        </div>
    </mat-card>
</div>

<mat-card appearance="outlined" class="p-3">
    <mat-card-content>
        <h3 style="text-align: center;">
            Hello there!
        </h3>
        <div class="m-2">
            <p>
                My name is Tristen Trias, and I am a recent graduate of the University of California, Merced with a
                Bachelor's degree
                in Computer Science & Engineering. I am currently looking for a full-time position as a Software
                Engineer. My interests
                so far include front end development and game development, though I am always open to learning new
                things.
            </p>
            <p>
                I am currently investing a lot of my time into developing my skills in front end development and
                Angular 14, as this website is a WIP. There is an
                updates page if you are interested in seeing my progress. I am also
                working on a few personal projects every now and then, which you can find on the projects page.
            </p>
            <p>
                Feel free to take a look around by using the navigation bar on the left, or by clicking the links below.
                If you have any questions or would like to get in touch, please feel free to contact me through my
                socials on the contact page!
            </p>
        </div>
    </mat-card-content>
</mat-card>

<!-- 
        The cards below are clickable, and will redirect the user to the corresponding page. 
        
        TODO: Once there is a backend, the cards should be generated dynamically from the database using
        nested ngFor loops.
     -->

<!-- row 1 -->
<div class="row">
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onAboutClick()">
            <mat-card-title style="text-align: center;">
                <h3>More about me</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onProjectsClick()">
            <mat-card-title style="text-align: center;">
                <h3>Projects</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onEducationClick()">
            <mat-card-title style="text-align: center;">
                <h3>Education</h3>
            </mat-card-title>
        </mat-card>
    </div>
</div>

<!-- row 2 -->

<div class="row">
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onHistoryClick()">
            <mat-card-title style="text-align: center;">
                <h3>Work History</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onHobbiesClick()">
            <mat-card-title style="text-align: center;">
                <h3>Hobbies</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col">
        <mat-card appearance="outlined" class="clickable" (click)="onContactClick()">
            <mat-card-title style="text-align: center;">
                <h3>Contact</h3>
            </mat-card-title>
        </mat-card>
    </div>
</div>

<!-- row 3 -->

<div class="row">
    <div class="col-4">
        <mat-card appearance="outlined" class="clickable" (click)="onUpdatesClick()">
            <mat-card-title style="text-align: center;">
                <h3>Updates</h3>
            </mat-card-title>
        </mat-card>
    </div>
</div>