<!-- 
    TODO: Create json files for each project type and import them
 -->

<div class="d-flex justify-content-center">
    <mat-card appearance="outlined" class="p-3 m-2">
        <div class="col">
            <div class="row" style="text-align: center;">
                <h1><b>Projects</b></h1>
            </div>
        </div>
    </mat-card>
</div>
<mat-card appearance="outlined" class="p-3">
    <mat-card-content>
        <p>
            I have worked on a variety of projects, both personal and for school. Class Projects and Personal Projects are
            both computer science related, while Other Projects are not. Each project has a description, a link to the
            project, and a link to the relevant information if available.
        </p>
    </mat-card-content>
</mat-card>

<mat-tab-group color="primary-lighter">
    <mat-tab label="Class Projects">
        <app-class-projects></app-class-projects>
    </mat-tab>
    <mat-tab label="Personal Projects">
        <app-personal-projects></app-personal-projects>
    </mat-tab>
    <mat-tab label="Other Projects">
        <app-other-projects></app-other-projects>
    </mat-tab>
</mat-tab-group>