<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>Custom Keyboards</b></h1>
        </div>
    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>PhobGCC</b></h1>
        </div>
    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="p-3 m-2">
    <div class="row">
        <div class="col-6">
            <h1><b>Custom Personal Computer</b></h1>
        </div>
    </div>

    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <b>Relevant heading</b>
                <ul>
                    <li>Bullet</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>